.index{
	width:1200px;
	margin:0 auto;
	.index_main{
		height: 600px;
		.index_main_poster{
			width: 922px;
			height: 300px;
			overflow: hidden;
			float: left;
			ul{
				width: 10000px;
				li{
					list-style: none;
					float: left;					
					a{
						line-height: 0px;
						display: inline-block;
					}
				}
			}
		}
		.index_main_login{
			width: 240px;
			height: 280px;
			background: #ffffff;
			float: right;
			box-shadow: 0px 3px 12px #e2e2e2;
			padding: 10px;
			.index_main_head{
				.index_main_headPic{
					margin: 0px auto -10px;
					display: block;
				    img{
				    	margin: 0 auto;
				    	width: 36px;
				    	height: 36px;
				    	-webkit-border-radius: 50%;
				   	 	border-radius: 50%;
				    }
				}
				.index_main_head_tis{
				    display: block;
				    line-height: 12px;
				    height: 12px;
				    font-size: 12px;
				    text-align: center;
				}
				.index_main_head_vip{
					margin-top: -9px;
					.index_main_head_vip_kt{
						color: #ff6000;
						display: inline-block;
    					text-align: left;
    					font-size: 12px;
    					float: left;
    					line-height: 30px;
						img{
							display: inline-block;
						    width: 12px;
						    height: 12px;
						    margin-right: 4px;
						    float: left;
						    margin-top: 9px;
						}
					}
					.index_main_head_lingqu{
						font-size: 12px;
						color: #999999;
						float: right;
						margin: 0px;
    					margin-top: 8px;
					}
					.index_main_head_tequan{
						display: block;
						float: left;
						height: 22px;
					    font-size: 12px;
					    line-height: 22px;
					    margin: 0 0px;
					    color: #999;
					    padding: 0 24px;
					    background-color: #f7f7f7;
					}
				}
			}
			.index_main_lr{
				float: left;
				.index_main_lr_btn{
					width: 220px;
    				margin: 10px 10px;
					a{
						text-align: center;
						display: inline-block;
						width: 105px;
						height: 30px;
						float: left;
					    font-size: 13px;
					    border-left: none;
					    box-sizing: border-box;
					    line-height: 30px;
					}
					.index_main_lr_login{
						background: #f66000;
    					color: #fff;
    					margin-right: 10px;
					}
					.index_main_lr_login:hover{
						background: #ff625d;
					}
					.index_main_lr_reg{
						background: #fff;
					    color: #f66100;
					    border: 1px solid #f66100;
					}
					.index_main_lr_reg:hover{
						border: 1px solid #ff625d;
					}
				}
				.index_main_login_kuaijie{
					p{
						color: #5f5f5f;
						font-size: 13px;
						text-align: center;
						float: left;
						margin: 8px 35px;
					}
					
					.index_main_login_method{
						margin: 0 54px;
						margin-top: 50px;
						a{
							display: inline-block;
							float: left;
							margin:0 6px;
							img{
								display: inline-block;
								width: 28px;
								height: 28px;
								border-radius:20px;

							}
						}
					}
				}
				.index_main_router{
					width: 260px;
					height: 66px;
					float: left;
					margin-left: -10px;
					li{
						width: 64px;
						height: 66px;
						float: left;
						list-style: none;
						background:#ffffff;
						box-shadow: 1px 3px 20px #e2e2e2;
						text-align: center;
					    margin-left: 1px;	
						a{
							img{
								display: block;
								width: 22px;
								height: 22px;
								margin:0 auto;
								margin-top: 10px;
							}
							span{
								font-size: 13px;
								color: #5f5f5f;

							}
						}
					}
					li:hover{
						box-shadow: 1px 3px 20px #ffccab;
					}
				}
			}
		}
		.index_main_info{
			padding:10px;
			width: 902px;
			height: 190px;
			background: #ffffff;
			float: left;
			margin-top: 14px;
			box-shadow: 0px 3px 12px #e2e2e2;
			.index_main_info_info{
				width: 445px;
				height: 190px;
				float: left;
				.index_main_info_title{
					margin-top: -5px;
					height: 30px;
					img{
						display: inline-block;
						width: 20px;
						height: 20px;
						margin-bottom: -4px;
					}
					a{
						color: #555555;
						font-size: 14px;
					}
				}
				.index_main_info_list{
					li{
						float: left;
					    padding: 5px;
					    width: 200px;
					    height: 36px;
					    box-shadow: 0px 0px 12px #efefef;
					    margin: 4px 6px;
					    a{
					    	display: inline-block;
					    	text-align: left;
					    	line-height: 22px;
						    img{
						    	display: inline-block;
						    	width: 36px;
						    	height: 36px;
						    	float: left;
						    }
						    .index_main_info_name{
						    	padding-left:6px;
						    }
						    span{
					    	    width: 155px;
					    	    height: 20px;
						    	display: inline-block;
						    	color: #555555;
						    	font-size: 13px;
						        float: left;
    							margin-top: -4px;
    							white-space: nowrap;
    							overflow: hidden;
							    text-overflow: ellipsis;
						    }
						    p{
						    	color: #3387ff;
						    	font-size: 13px;
						    	float: left;
						    	padding-left: 5px;
						    	margin:0px;
						    	width: 159px;
							    height: 20px;
							    white-space: nowrap;
    							overflow: hidden;
							    text-overflow: ellipsis;
						    }
					    }
					}
					li:hover{
					    box-shadow: 0px 0px 12px #aacdff;
					}
				}
			}
			.index_main_info_xuanshang{
				text-align: center;

			}
			.index_main_info_line{
				display: inline-block;
				float: left;
				height: 170px;
				width: 1px;
				background:#f1f1f1;
				margin: 10px 5px;
			}
			.index_main_info_dongtai{
				text-align: center;
				.index_main_info_list{
					li{
						a{
							img{
								border-radius:20px;
							}
							p{
								color: #f66000;
							}
						}
					}
					li:hover{
						box-shadow: 0px 0px 12px #ffb07d;
					}
				}
			}
		}
		.index_main_notice{
			padding:10px;
			width: 240px;
			height: 190px;
			float: right;
			margin-top: 14px;
			background:#ffffff;
			box-shadow:0px 3px 12px #e2e2e2;
			text-align: center;
			.index_main_notice_title{
				width: 100%;
				height: 24px;
				text-align: center;
				i{
					display: inline-block;
					width: 60px;
					height: 1px;
					background:#e9e9e9;
					margin: 4px;
				}
				span{
					color: #555555;
					font-size: 13px;

				}
			}
			ul{
				li{
					float: left;
					a{
						color: #555555;
						.index_main_notice_jj{
							background:#f14c48;
							padding:5px;
						}
						.index_main_notice_yj{
							background:#f56101;
							padding:5px;
						}
						.index_main_notice_gl{
							background:#3387ff;
							padding:5px;
						}
						.index_main_notice_gg{
							background:#c1c1c1;
							padding:5px;
						}
						.index_main_notice_text{
							display: inline-block;
						    white-space: nowrap;
						    overflow: hidden;
						    text-overflow: ellipsis;
						    float: right;
						    width: 190px;
						    margin-left: 5px;
						    color: #565656;
						    line-height: 30px;
						}
						span{
							color: #ffffff;
							display: inline-block;
							line-height: 13px;
							font-size: 13px;
							text-overflow: ellipsis;
						}
					}
					a .index_main_notice_text:hover{
						color: #f85f01;
					}
				}
			}
			.index_main_notice_all{
				font-size: 12px;
				color: #555555;
				line-height: 10px;
			}
			.index_main_notice_all:hover{
				color: #f85f01;
			}
		}
		.index_main_step{
			width: 1190px;
		    height: 54px;
		    background: #ffffff;
		    float: left;
		    margin-top: 14px;
		    box-shadow: 0px 3px 12px #e2e2e2;
		    padding: 5px;
			.index_main_step_title{
				display: inline-block;
			    width: 50px;
			    height: 44px;
			    font-size: 18px;
			    padding: 5px;
			    text-align: center;
			    background: #f66000;
			    color: #ffffff;
			    font-weight: 900;
			    line-height: 22px;
			    letter-spacing: 4px;
			    float: left;
			}
			ul{
				width: 1128px;
			    height: 52px;
			    float: left;
			    border: 1px solid #ffe3d5;
			    background:#fef9f5;
			    li:nth-child(1){
			    	margin-left: 15px;
			    }
				li{
					width: 220px;
					float: left;
					margin-right: 6px;
					.index_main_step_i{
						color: #fe9553;
					    font-size: 58px;
					    font-weight: 900;
					    font-family: cursive;
					    line-height: 52px;
					    float: left;
					}
					.index_main_step_step{
						font-family: monospace;
					    width: 26px;
					    height: 26px;
					    border-radius: 20px;
					    background: #fe9553;
					    font-size: 17px;
					    color: #ffffff;
					    font-style: normal;
					    text-align: center;
					    line-height: 26px;
					    text-indent: 3px;
					    float: left;
					    margin-left: 40px;
    					margin-top: -15px;
					}
					.index_main_step_steptitle{
						color: #fe9553;
					    font-size: 22px;
					    font-family: inherit;
					    font-style: italic;
					    font-weight: 900;
					    float: left;
					    padding-left: 8px;
					}
					.index_main_step_stepdesc{
						color: #fe9553;
					    font-size: 15px;
					    font-family: inherit;
					    font-style: italic;
					    font-weight: 900;
					    margin:0;
					    float: left;

					}
				}
				.index_main_step_jinbi{
					width: 210px;
					margin: 5px 0px;	
					img{
						width: 14px;
					    height: 14px;
					    display: inline-block;
					    border-radius: 20px;
					    color: #ea6d10;
					    text-align: center;
					    font-size: 1px;
					    font-style: normal;
					    line-height: 14px;
					    text-indent: 1px;
					}
					span{
						color: #f53435;
						font-weight: bold;
					}
					p{
						color: #8e8e8e;
						margin:1px 0;
						font-size: 14px;
					}
				}
			}
		}
	}
}
.content{
	width: 100%;
	background:#ffffff;
	margin-top: 15px;
	.content_game{
		width: 1200px;
		height: 460px;
		margin:0 auto;
		padding-top: 20px;
		.content_game_game{
			width: 922px;
			float: left;
			.content_game_game_title{
				width: 100%;
				height: 30px;
			    padding-bottom: 10px;
				.content_game_game_title_game{
					display: inline-block;
					width: 34px;
					float: left;
				}
				.content_game_game_title_title{
					float: left;
				    color: #f66000;
				    line-height: 34px;
				    font-size: 18px;
				    font-weight: 600;
				    padding: 0 10px;
				}
				p{
					float: left;
				    line-height: 8px;
				    font-size: 14px;
				    color: #999999;
				    span:nth-child(1){
				    	color: #3cb12f;
				    }
					span{
						color: #ff5f00;
					}
				}
				a{
					float: right;
				    line-height: 20px;
				    font-size: 14px;
				    color: #999999;
				    padding:0 8px;
				    padding-top: 8px;
				}
				a:hover{
					color: #f56101;
				}
				.content_game_game_title_gengduo{
					display: inline-block;
					float: right;
					width: 20px;
					height: 20px;
				    margin-top: 8px;
				}
			}
			ul{
				width: 922px;
				li{
					float: right;
				}
				.content_list_ad{
					width: 200px;
					height: 404px;
					margin-top: -207px;
					a{
						position: relative;
						line-height: 0px;
						.content_list_tag{
							display: inline-block;
							width: 20px;
							height: 36px;
							background: rgba(254, 96, 0,0.8);
							color: #ffffff;
							text-align: center;
							position:absolute;
							font-size: 10px;
							line-height: 17px;
							top: 16px;
						}
						p{
							color: #ffffff;
							font-size: 14px;
							position:absolute;
							text-align: center;
							span{
								line-height: 0px;
							    margin-right: 5px;
							}
						}
						.content_list_title{
							top: 360px;
						    width: 200px;
						    z-index: 1;
						    font-size: 13px;
						    padding-left: 5px;

						}
						.content_list_info{
							top: 378px;
							z-index: 1;
							font-size: 13px;
							color: #ffffff;
							width: 200px;
							padding-left:5px;
							img{
								position:absolute;
								display: inline-block;
								width: 14px;
								top: -7px;
							}
							span{
								color: #fed302;
							}
						}
						.content_list_ad_mask{
							position:absolute;
							width: 200px;
							height: 50px;
							background:rgba(0,0,0,0.8);
							bottom:-404px;
						}
						img{
							float: left;
							display: inline-block;
						}
					}
				}
				.content_list_all{
					width: 210px;
					height: 188px;
					padding-left:10px;
					padding-right:10px;
					padding-bottom:10px;
					background:#ffffff;
				    box-shadow: 0px 0px 12px #e2e2e2;	
				    margin-left: 10px;
				    margin-bottom: 10px;    
				    a{
				    	position:relative;
				    	.content_list_tag_type1{
				    		display: inline-block;
							width: 20px;
							height: 36px;
							background: rgba(254, 96, 0,0.8);
							color: #ffffff;
							text-align: center;
							font-size: 10px;
							position:absolute;
							z-index: 4;
							line-height: 17px;
							left: 10px;
				    	}
				    	.content_list_tag_type2{
				    		display: inline-block;
							width: 20px;
							height: 36px;
							background: rgba(56, 181, 45,0.8);
							color: #ffffff;
							text-align: center;
							font-size: 10px;
							position:absolute;
							z-index: 4;
							line-height: 17px;
							left: 10px;
				    	}
				    	.content_list_all_mask{
				    		display: inline-block;
				    		width: 210px;
				    		height: 26px;
				    		background: rgba(0,0,0,0.8);
				    		position:absolute;
				    		z-index: 2;
				    		top: 124px;
				    	}
				    	.content_list_all_title{
				    		position: absolute;
						    top: 128px;
						    color: #ffffff;
						    z-index: 3;
						    width: 210px;
						    line-height: 16px;
						    margin: 0;
						    font-size: 12px;
						    padding-left: 4px;
						    span{
						    	color: #fed302;
						    	text-align: right;
						    }
				    	}
				    	.content_list_lc_p{
				    		text-align: center;
				    	}
				    	.content_list_all_img{
				    		position:absolute;
				    		display: inline-block;
				    		width: 210px;
				    		height: 150px;
				    	}
				    	p{
				    		color: #7f7f7f;
						    margin: 0;
						    font-size: 13px;
						    text-align: left;
						    float: left;
				    	}
				    	.content_list_all_jiangli{
				    		margin-top: 156px;
				    		width: 150px;
				    		padding-bottom: 14px;
				    		line-height: 0px;
				    		span{
				    			color: #f66000;
				    		}
				    		img{
				    			display: inline-block;
								width: 14px;
								height: 14px;
				    		}
				    	}
				    	.content_list_all_huansuan{
				    		line-height: 0px;
				    		span{
				    			color: #f66000;
				    		}
				    	}
				    }
				}
				.content_list_all:hover{
					.content_list_all_title{
						text-align: center;
					    top: 0px;
					    color: #ffffff;
					    z-index: 3;
					    width: 210px;
					    line-height: 150px;
					    margin: 0;
					    font-size: 12px;
					    text-shadow: 0 1px 11px #ffffff;    
					}
					.content_list_all_mask{
			    		width: 210px;
			    		height: 150px;
			    		background: rgba(0,0,0,0.8);
			    		top: 0px;
					}
				}
			}
		}
		.content_game_ph{
			width:260px;
			float: right;
			text-align: center;
			.content_game_ph_title{
				color: #f66000;
				font-weight: 700;
				text-align: center;
				margin: 6px 0;
				img{
					display: inline-block;
					width: 22px;
					height: 18px;
					margin: -3px 5px;
				}
			}
			table{
				border-collapse:collapse;
				tr{
					height: 36px;
					th{
						font-size: 14px;
						text-align: center;
						color: #5a5a5a;
						border-bottom: 1px solid #e6e6e6;
					}
					td{
						color: #6e6e6e;
						font-size: 13px;
						text-align: center;
						img{
							display: inline-block;
							width: 16px;
						}
					}
					td:nth-child(2){
						width: 70px;
						white-space: nowrap;
						text-overflow: ellipsis;
						color: #909090;
					}
					td:nth-child(3){
						color: #f66000;
						img{
							width: 12px;
						}
					}
					td:nth-child(4){
						width: 45px;
						color: #f63434;
						white-space: nowrap;
						text-overflow: ellipsis;
					}
				}
			}
			span{
				color: #ababab;
				font-size: 10px;
				
			}
		}
	}
	.content_saijiang{
		width: 1200px;
		height: 216px;
		margin: 0 auto;
		padding-bottom: 10px;
		.content_saijiang_title{
			height: 30px;
			width: 100%;
			float: left;
			padding-bottom:10px;
			.content_saijiang_title_ico{
				display: inline-block;
				width: 34px;
				float: left;
			    margin: 4px 0;
			}
			.content_saijiang_title_title{
				float: left;
			    color: #f66000;
			    line-height: 34px;
			    font-size: 18px;
			    font-weight: 600;
			    padding: 0 10px;
			}
			.content_saijiang_title_gengduo{
				display: inline-block;
			    float: right;
			    width: 20px;
			    height: 20px;
			    margin-top: 8px;
			}
			p{
				float: left;
			    line-height: 8px;
			    font-size: 14px;
			    color: #999999;
			    img{
			    	display: inline-block;
			    	width: 12px;
			    }
			    span{
			    	color: #f66000;
			    }
			}
			a{
				float: right;
			    line-height: 20px;
			    font-size: 14px;
			    color: #999999;
			    padding: 0 8px;
			    padding-top: 8px;
			}
		}
		.content_saijiang_list{
			li{
				width: 264px;
				height: 54px;
				padding:8px;
				float: left;
			    box-shadow: 0px 0px 15px #ececec;
			    margin:10px;
			    .content_saijiang_a{
				    .content_saijiang_pic{
				    	display: inline-block;
				    	width: 54px;
				    	float: left;
				    	margin-right: 6px;
				    }
				    p{
				    	font-size: 14px;
				    	color: #363636;
				    	margin:0;
				    	float: left;
				        width: 200px;
				        text-align: left;
				        white-space: nowrap;
					    text-overflow: ellipsis;
					    overflow: hidden;
				    }
				    span{
				    	display: inline-block;
					    font-size: 12px;
					    color: #aaaeb9;
					    float: left;
					    width: 200px;
					    white-space: nowrap;
					    text-overflow: ellipsis;
					    overflow: hidden;
					    text-align: left;
				    }
				}
				.content_saijiang_a:hover{
					p{
						color: #f66000;
					}
				}
			    a{
			    	font-size: 12px;
			    	color: #a4a8b1;
			    }
			    img{
			    	display: inline-block;
			    	width: 12px;
			    }

			}
		}
	}
	.content_hezuo{
		width: 1200px;
		height: 120px;
		margin: 0 auto;
		padding-bottom: 10px;
		.content_hezuo_title{
			height: 30px;
			width: 100%;
			float: left;
			padding-bottom:10px;
			.content_hezuo_title_ico{
				display: inline-block;
				width: 30px;
				float: left;
			    margin: 3px 0;
			}
			.content_hezuo_title_title{
				float: left;
			    color: #f66000;
			    line-height: 34px;
			    font-size: 18px;
			    font-weight: 600;
			    padding: 0 10px;
			}
			.content_hezuo_title_gengduo{
				display: inline-block;
			    float: right;
			    width: 20px;
			    height: 20px;
			    margin-top: 8px;
			}
			p{
				float: left;
			    line-height: 8px;
			    font-size: 14px;
			    color: #999999;
			    img{
			    	display: inline-block;
			    	width: 12px;
			    }
			    span{
			    	color: #f66000;
			    }
			}
			a{
				float: right;
			    line-height: 20px;
			    font-size: 14px;
			    color: #999999;
			    padding: 0 8px;
			    padding-top: 8px;
			}
		}
		ul{
			li{
				width: 118px;
				height: 32px;
				padding:8px;
				box-shadow: 0px 0px 15px #ececec;
				margin:5px 8px;
				float: left;
				a{
					display: inline-block;
					img{
						display: inline-block;
						width: 110px;
						margin-top:-4px;
					}
				}
			}
		}
	}
}