@charset "utf-8";
.member{
	width:1200px;
	margin:0 auto;
	margin-bottom: 15px;
	.member_notice{
		padding: 8px;
	    width: 1184px;
	    height: 24px;
	    border-radius: 4px;
	    background: #ffffff;
	    box-shadow: 0px 3px 12px #e2e2e2;
		img{
			display: inline-block;
			width: 25px;
			float: left;
			margin-right: 4px;
		}
		.member_notice_close{
			float: right;
			cursor:pointer;
		}
		a{
			display: block;
			float: left;
			color: #f96b67;
			font-size:14px;
			margin:3px 0;
			span{
				display: inline-block;
				padding-left:6px;
				color: #535353;
				font-size: 13px;
			}
		}
	}

	.member_info{
		width: 1200px;
		.member_info_left{
			float: left;
			.member_info_left_member{
				background:#ffffff;
				width: 260px;
				height: 120px;
				padding:10px;
				box-shadow:0px 3px 12px #e2e2e2;
				margin-top: 10px;
				.member_info_left_info{
					height: 66px;
					border-bottom:1px solid #f7f7f7;
					color: #535353;
					font-size: 14px;
					padding-top:10px;
					.member_info_left_head{
						display: inline-block;
						width: 50px;
						border-radius:50px;
						float: left;
						margin-right: 10px;
					}
					p{
						width: 120px;
						margin:0px;
						float: left;
						font-size:13px;
						margin-top: 6px;
						white-space: nowrap;
					    overflow: hidden;
					    text-overflow: ellipsis;
						img{
							width: 14px;
							margin-left: 4px;
						}
					}
					.member_info_left_id{
						display: block;
						float: left;
						width: 120px;
						font-size: 12px;
						line-height: 26px;
					}
					.member_info_left_sign{
						display: inline-block;
						width: 76px;
						height: 26px;
						text-align: center;
						line-height: 26px;
						background: linear-gradient(to left, #1555e4, #4996fa);
						border-radius:20px;
						font-size: 13px;
					    box-shadow: 0px 3px 8px #1555e4;
					    float: right;
					    margin-top: -22px;
					    margin-bottom: 8px;
					}
					.member_info_left_signnum{
						display: inline-block;
						width: 76px;
						color: #4996fa;
						float: right;
						font-size: 12px;
						text-align: center;
					}
				}
				.member_info_left_data{
					font-size: 14px;
					text-align: center;
					padding-top:8px;
					p{
						margin:0px;
						color: #ff602e;
					}
					span{
						color: #a5a5a5;
						font-size: 12px;
					}
				}
				.member_info_left_yuwan{
					width: 86px;
					float: left;
				}
				.member_info_left_yinhang{
					width: 86px;
					float: left;
				}
				.member_info_left_dengji{
					width: 86px;
					float: left;
					p{
						display: inline-block;
						padding: 0 6px;
						background:#ff602e;
						border-radius:20px;
						color: #ffffff;
						margin-bottom: 2px;
					}
					span{
						display: block;
					}
				}
			}
			li{
				background:#ffffff;
				width: 260px;
				height: 165px;
				padding:10px;
				box-shadow:0px 3px 12px #e2e2e2;
				margin:10px 0;
				.member_info_left_title{
					height: 30px;
					border-bottom:1px solid #f7f7f7;
					margin-bottom: 5px;
					img{
						display: inline-block;
						width: 12px;
					}
					span{
						font-size: 14px;
						color: #969696;
					}
				}
				.member_info_left_menu{
					a{
						display: inline-block;
						width: 61px;
						margin:6px 0;
						img{
							display: inline-block;
							width: 34px;
							height: 34px;
							border-radius:34px;
						    background: linear-gradient(to left, #ff7849, #ff605f);
						}
						span{
							display: block;
							font-size: 13px;
							color: #838383;
						}
					}
					a:hover{
						span{
							color: #ff635c;
						}
					}
				}
				.member_info_left_vip_opened{
				    margin-top: 10px;
				    text-align: center;
					nav{
						display: block;
						width: 260px;
						height: 46px;
						border-bottom:1px solid #f7f7f7;
						.member_info_left_vip_opened_pic{
							display: inline-block;
							width: 40px;
							height: 40px;
							background: linear-gradient(to left, #ff675e, #ff9765);
							border-radius:6px;
							float: left;
							margin-left: 4px;
							margin-right: 6px;
						}
						.member_info_left_vip_opened_vipname{
							color: #444444;
							font-size: 13px;
							float: left;
							width: 164px;
							text-align: left;
							white-space: nowrap;
						    overflow: hidden;
						    text-overflow: ellipsis;
						    span{
						    	color: #ff675e;
						    	display: inline-block;
						    	float: right;
						    	font-size: 12px;
						    }
						}
						.member_info_left_vip_opened_descr{
							font-size: 10px;
							color: #858186;
							display: block;
							float: left;
							width: 164px;
							text-align: left;
							white-space: nowrap;
						    overflow: hidden;
						    text-overflow: ellipsis;
						    line-height: 22px;
						}
						.member_info_left_vip_opened_xf{
							display: inline-block;
							float: right;
							width: 42px;
							height: 20px;
							line-height: 20px;
							text-align: center;
							color: #0058e2;
							font-size:12px;
							background:#eef2f5;
							border-radius: 20px;
							margin-top: -10px;
						}
					}
					.member_info_left_flk{
						p{
						    font-size: 14px;
						    color: #444444;
						    margin: 8px 0;
						}
						input{
							display: block;
							border:none;
							outline: none;
							border-radius:20px;
							width: 210px;
							height: 18px;
							font-size:13px;
							background:#eef2f5;
							padding:6px 15px;
							margin: 0 auto;
							margin-top:10px;
							margin-bottom: 10px;
							color: #666666;
						}
						button{
							display: inline-block;
							height: 30px;
							line-height: 30px;
							border:none;
							outline: none;
							color: #ffffff;
							cursor: pointer;
							border-radius:30px;
						}
						.member_info_left_shiyong{
							width: 140px;
							background: #ff635c;
						}
						.member_info_left_chaxun{
							width: 90px;
							background:#a375ff;
						}
					}
				}
			}
			.member_info_left_vip{
				height: 240px;
			}
		}
		.member_info_right{
			width: 850px;
			height: 749px;
			padding: 25px;
			background:#ffffff;
			float: right;
		    box-shadow: 0px 3px 12px #e2e2e2;
    		margin-top: 10px;
    		h6{
    			margin: 12px 0;
    		}
    		.member_info_right_index_info{
    			width: 850px;
    			height: 125px;
    			border-bottom:1px solid #f7f7f7;
    		    li{
    		    	width: 232px;
	    			height: 70px;
	    			padding: 12px;
	    			background:#ffffff;
	    		    box-shadow: 0px 0px 20px #f1f1f1;
	    		    float: left;
	    		    margin-right: 41px;
	    		    img{
	    		    	display: inline-block;
	    		    	width: 40px;
	    		    	height: 40px;
	    		    	border-radius:40px;
	    		     	background: linear-gradient(to left, #925ffa, #ab85f6);
	    		     	float: left;
	    		    }
	    		    .member_info_right_index_num{
	    		    	width: 186px;
	    		    	height: 40px;
	    		    	float: left;
	    		    	p{
	    		    		text-align: right;
	    		    		margin:0;
	    		    		color: #ff6d53;
	    		    		font-weight: 900;
	    		    	}
	    		    	span{
	    		    		display: block;
	    		    		text-align: right;
	    		    		font-size: 12px;
	    		    		color: #b9b9b9;
	    		    	}
	    		    }
	    		    .member_info_right_index_name{
	    		    	width: 100%;
	    		    	float: left;
	    		    	margin-top: 10px;
	    		    	p{
	    		    		margin:0px;
	    		    		font-size: 14px;
	    		    		color: #333333;
	    		    		text-align: left;
	    		    		float: left;
	    		    		line-height: 20px;

	    		    	}
	    		    	span{
	    		    		display: inline-block;
	    		    		text-align: right;
	    		    		color: #666666;
	    		    		font-size: 12px;
	    		    		float: right;
	    		    		line-height: 20px;
	    		    	}
	    		    	a{
	    		    		display: inline-block;
	    		    		height: 26px;
	    		    		padding:0 10px;
	    		    		border-radius:26px;
	    		    		background: linear-gradient(to left, #925ffa, #ab85f6);
	    		    		color: #ffffff;
	    		    		text-align: center;
	    		    		line-height: 26px;
	    		    		font-size: 12px;
	    		    		float: right;
	    		    		margin-top: -4px;
	    		    	}
	    		    }
    		    }
    		    li:nth-child(3){
    		    	margin-right: 0px;
    		    }
    		}
    		.member_info_right_index_message{
    			.member_info_right_index_set{
    				width: 850px;
    				height: 30px;
    				span{
    					color: #5a5d6c;
    					font-size: 12px;
    					i{
    						display: inline-block;
							border-radius:20px;
							width: 8px;
							height: 8px;
							border:none;
							background: #6bd66e;
							margin:0px;
    					}
    				}
    				span:nth-child(2){
    					i{
    						background:#fbc269;
    					}
    				}
    				button{
    					float: right;
    					cursor: pointer;
    					background:#fa3222;
    					color: #ffffff;
    					border:none;
    					border-radius:4px;
    					outline: none;
    					padding:3px 8px;
    				}
    				a{
    					display: inline-block;
    					float: right;
    					font-size: 12px;
    					color: #666666;
    					line-height: 23px;
    					margin-left: 10px;
    				}
    			}
    			table{
    				tr{
    					i{
    						display: inline-block;
							width: 16px;
							height: 16px;
							border-radius:20px;
							background: #ffffff;
							border:1px solid #a2a2a2;
							cursor: pointer;
							margin: 7px 10px;
    					}

    					i:hover{
							border:1px solid #925ffa;
						}
    				}
    				.member_info_right_index_msgtitle{
    					display: inline-block;
    					width: 850px;
    					height: 32px;
    					background:#f8f9fd;
    					th{
    						font-size: 13px;
    						color: #666666;
    						text-align: left;
    						line-height: 32px;
    						padding:0;
    						display: inline-block;
    						height: 32px;
    					}
    					th:nth-child(1){
    						width: 40px;
    					}
    					th:nth-child(2){
    						width: 535px;
    					}
    					th:nth-child(3){
    						width: 122px;
    					}
    					th:nth-child(4){
    						width: 138px;
    					}
    				}
    				.member_info_right_index_table_list{
    					display: inline-block;
    					width: 850px;
    					height: 32px;
    					border-bottom:1px solid #f7f7f7;
    					td{
    						display: inline-block;
    						font-size: 13px;
    						color: #516170;
    						height: 32px;
    						padding:0px;
    						.member_info_right_index_i{
    							width: 8px;
    							height: 8px;
    							border:none;
    							background: #6bd66e;
    							margin:0px;
    						}
    						.member_info_right_index_i2{
    							width: 8px;
    							height: 8px;
    							border:none;
    							background: #fbc269;
    							margin:0px;
    						}
    						a{
    							display: inline-block;
    							line-height: 32px;
    							color: #516170;
    						}
    						span{
    							line-height: 32px;
    						}
    						.member_info_right_index_type{
    							line-height: 16px;
    							font-size: 12px;
    							display: inline-block;
    							padding:2px 6px;
    							text-align: center;
    							color: #ffffff;
    							background: #8969ee;
    							border-radius:4px;
    						}
    						.member_info_right_index_type2{
								line-height: 16px;
    							font-size: 12px;
    							display: inline-block;
    							padding:2px 6px;
    							text-align: center;
    							color: #ffffff;
    							background: #ed4d8b;
    							border-radius:4px;
    						}
    						img{
    							display: inline-block;
    							width: 20px;
    							border-radius:20px;
    							margin: 4px 0;
    						    margin-right: 4px;
    							float: left;
    						}
    					}
    					td:nth-child(1){
    						width: 40px;
    					}
    					td:nth-child(2){
    						width: 535px;
    					}
    					td:nth-child(3){
    						width: 122px;
    					}
    					td:nth-child(4){
    						width: 138px;
    						span{
    							font-size: 10px;
    							color: #bdbdbd;
    						}
    					}
    				}
    			}
    		}
    		.member_info_right_index_q{
    			width: 850px;
    			h6{
    				text-align: left;
    			}
    			ul{
    				li{
    					float: left;
    					background:#dddddd;
    					border-radius:50px;
    					margin-right:10px;
    					a{
    						text-align: center;
    						display: inline-block;
    						padding:0 8px;
    						padding-top:4px;
    						padding-bottom:4px;
    						font-size: 12px;
    						color: #333333;
    					}
    				}
    				li:hover{
    					background:#d0d0d0;
    					a{
    						color: #ffffff;
    					}
    				}
    			}
    		}
		}

	}	
}

/* 
11 - 6
今日做个人中心进来首页

*/