@charset "utf-8";
@import 'mixin';
@import 'head'; //头部css
@import 'game';//游戏区域css
@import 'footer';//底部区域
@import 'login'; //等于css
@import 'register';//注册css
@import 'betting';// 投注css
@import 'indexs'; //首页css
@import 'member';//用户中心css
$color: #f2f2f2;
$z-color: #ff510c; 
$font-color: #ff7300;

a{
	text-decoration: none;
	text-align: center;
	color: $color;
}
ul{margin:0px;padding:0px;}
li{
	list-style:none;
}
body{
	font-family: "微软雅黑";
	margin: 0px;
	padding: 0px;
	background: $color;
	width:100%;
	min-width:1200px;
	max-width:100%;
	height:100%;
	overflow-x:hidden;
	.gloden{
		color: #ff500b;
	}
}

.icon {
  /* 通过设置 font-size 来改变图标大小 */
  width: 1em; height: 1em;
  /* 图标和文字相邻时，垂直对齐 */
  vertical-align: -0.15em;
  /* 通过设置 color 来改变 SVG 的颜色/fill */
  fill: currentColor;
  /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
     normalize.css 中也包含这行 */
  overflow: hidden;
}

